<?xml version="1.0"?>
<!--
/**
 * @package   LiteSpeed_LiteMage
 * @copyright  Copyright (c) LiteSpeed Technologies, Inc. All rights reserved. (https://www.litespeedtech.com)
 * @license     https://opensource.org/licenses/GPL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Litespeed\Litemage\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Litespeed\Litemage\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">LiteMage</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="core" xsi:type="object">Litespeed\Litemage\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Litespeed\Litemage\Logger\WarmupHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Litespeed\Litemage\Logger\WarmupLogger">
        <arguments>
            <argument name="name" xsi:type="string">LiteMageWarmup</argument>
            <argument name="handlers" xsi:type="array">
                <item name="warmup" xsi:type="object">Litespeed\Litemage\Logger\WarmupHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="litemageFlushTagsCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageFlushTags</item>
                <item name="litemageFlushProdsCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageFlushProds</item>
                <item name="litemageFlushCatsCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageFlushCats</item>
                <item name="litemageCliFlushCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageCliFlush</item>
                <item name="litemageWarmQueueGenerateCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmQueueGenerate</item>
                <item name="litemageWarmQueueProcessCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmQueueProcess</item>
                <item name="litemageWarmUrlCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmUrl</item>
                <item name="litemageWarmStatusCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmStatus</item>
                <item name="litemageWarmPauseCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmPause</item>
                <item name="litemageWarmResumeCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmResume</item>
                <item name="litemageWarmTruncateCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmTruncate</item>
                <item name="litemageWarmBlacklistCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmBlacklist</item>
                <item name="litemageWarmSourceValidateCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmSourceValidate</item>
                <item name="litemageWarmProfileListCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmProfileList</item>
                <item name="litemageWarmProfileUpsertCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmProfileUpsert</item>
                <item name="litemageWarmProfileDiagnoseCommand" xsi:type="object">Litespeed\Litemage\Console\Command\LitemageWarmProfileDiagnose</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="litemage/dev/basic_auth" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>    
</config>
