<?xml version="1.0"?>
<!--
/**
 * @package   LiteSpeed_LiteMage
 * @copyright  Copyright (c) LiteSpeed Technologies, Inc. All rights reserved. (https://www.litespeedtech.com)
 * @license     https://opensource.org/licenses/GPL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Framework\App\FrontControllerInterface">
        <plugin name="front-controller-litemage" type="\Litespeed\Litemage\Model\App\FrontController\LitemagePlugin"/>
    </type>
    <type name="\Magento\Framework\Controller\ResultInterface">
        <plugin name="controller-result-litemage" type="\Litespeed\Litemage\Model\Controller\Result\LitemagePlugin"/>
    </type>
    <type name="Magento\Framework\View\Layout">
        <plugin name="view-layout-litemage" type="\Litespeed\Litemage\Model\Layout\LayoutPlugin"/>
    </type>
    <type name="\Magento\Framework\App\Response\Http">
        <plugin name="response-http-litemage-purge" type="\Litespeed\Litemage\Model\App\Response\HttpPurgePlugin" sortOrder="10"/>
        <plugin name="response-http-litemage" type="\Litespeed\Litemage\Model\App\Response\HttpPlugin" sortOrder="20"/>
    </type>
</config>
